<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sharif Md. Minhazur Rahman Rabbi">
    <title>An ejs file</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>This is a header</h1>
    </header>
    <main>
        <p>This is a main section</p>
    </main>
    <footer>
        <span>This is footer section</span>
    </footer>
    <script src="main.js"></script>
</body>
</html>